@model IEnumerable<Tamagochi.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Mascotas</h1>

<div>
    @if (!string.IsNullOrEmpty(TempData["Error"] as string))
    {
        <div class="alert alert-success" role="alert">
            @TempData["Error"]
        </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreMascota)
                </th>
                <th>
                    Última Vez Alimentado
                </th>
                <th>
                    Tiempo Máximo Sin Alimentar
                 </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDeMascota)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMascota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UltimaVezAlimentado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TiempoMaximoSinAlimentar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDeMascota)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
