@model IEnumerable<MVCBasico.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaVezAlimentado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoMaximoSinAlimentar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeMascota)
            </th>
            <th></th>
        </tr>
        </thead>
            <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreMascota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UltimaVezAlimentado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TiempoMaximoSinAlimentar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoDeMascota)
                        </td>

                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
