@model Tamagochi.ViewModels.MascotaProfileViewModel
@{
    ViewData["Title"] = "Tus Mascotas";
}


<p>
    <button type="submit" class="btn btn-warning">
    <a asp-controller="Mascota" asp-action="Create">Crear nueva mascota</a>
    </button>
</p>

<div>
    <div class="row">
        <div class="col-lg-6">
            <div class="d-flex flex-column align-items-center justify-content-center text-center pet-main-container">
                @if (!string.IsNullOrEmpty(TempData["Alimentado"] as string))
                {
                    <div class="alert alert-success custom-alert" role="alert">
                        @TempData["Alimentado"]
                        <img src="/cookies.png" class="image-alert " />
                        <img src="/stars.png" class="image-alert" />
                    </div>
                }
                else if (!string.IsNullOrEmpty(TempData["Error"] as string))
                {
                    <div class="alert alert-success custom-alert" role="alert">
                        @TempData["Error"]
                    </div>
                }
                <div class="pet-container">
                    <h3 class="pet-name text-center">@Html.DisplayFor(modelItem => Model.mascotaSeleccionada.NombreMascota)</h3>
                    <div class="pet-img-container">
                        @{                        
                            string src = Model.mascotaSeleccionada.TipoDeMascota.getImagenMascota();
                        }

                        <img src="@src" alt="Descripción de la imagen" />
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-center">
                        <span>
                            Estado actual:             @Html.DisplayFor(modelItem => Model.mascotaSeleccionada.Estado)
                        </span>
                        <button class="btn btn-warning feed-btn"><a asp-controller="Mascota" asp-action="Alimentar" asp-route-id="@Model.mascotaSeleccionada.Id">Alimentar</a><img class="food-icon" src="~/restaurant.png"/></button>
                    </div>
                </div>
            </div>
            <p>
                <button class="btn btn-danger mt-4">
                    <a asp-controller="Mascota" asp-action="Delete" asp-route-id="@Model.mascotaSeleccionada.Id">Borrar a @Html.DisplayFor(modelItem => Model.mascotaSeleccionada.NombreMascota) </a>
                </button>

                
            </p>
        </div>
        <div class="col-lg-6">

            @*<table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.mascotaSeleccionada.NombreMascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mascotaSeleccionada.TipoDeMascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mascotaSeleccionada.Estado)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listaMascotas)
                    {

                        <tr class="@(Model.mascotaSeleccionada.Id == item.Id ? "bg-success" : "")">
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreMascota)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoDeMascota)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>

                            <td>
                                <a asp-controller="Mascota" asp-action="Profile" asp-route-id="@item.Id">Seleccionar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
        

            <table class="profile-table">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.mascotaSeleccionada.NombreMascota)</th>
                        <th> @Html.DisplayNameFor(model => model.mascotaSeleccionada.TipoDeMascota)</th>
                        <th>@Html.DisplayNameFor(model => model.mascotaSeleccionada.Estado)</th>
                        <th>Acciones</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listaMascotas)
                    {
                    <tr class="@(Model.mascotaSeleccionada.Id == item.Id ? "selected" : "")">
                    <td><span> @Html.DisplayFor(modelItem => item.NombreMascota)</span></td>
                    <td><span> @Html.DisplayFor(modelItem => item.TipoDeMascota)</span></td>
                    <td><span>@Html.DisplayFor(modelItem => item.Estado)</span></td>
                    <td><span> <a class="btn btn-warning mb-10" asp-controller="Mascota" asp-action="Profile" asp-route-id="@item.Id">Seleccionar</a></span></td>
                            <td>
                                <span>
                                    <a class="btn btn-warning" asp-controller="Mascota" asp-action="Renombrar" asp-route-id="@Model.mascotaSeleccionada.Id">Editar</a>
                                </span>
                            </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

