@model Tamagochi.ViewModels.MascotaProfileViewModel
@{
    ViewData["Title"] = "Tus Mascotas";
}


<p>
    <a asp-controller="Mascota" asp-action="Create">Create New</a>
</p>
<div>
    @if (!string.IsNullOrEmpty(TempData["Error"] as string))
    {
        <div class="alert alert-success" role="alert">
            @TempData["Error"]
        </div>
    }
    <div class="row">
        <div class="col-lg-6">
            @Html.DisplayFor(modelItem => Model.mascotaSeleccionada.NombreMascota)
            @Html.DisplayFor(modelItem => Model.mascotaSeleccionada.TipoDeMascota)
            @Html.DisplayFor(modelItem => Model.mascotaSeleccionada.Estado)

            <p>
                <a asp-controller="Mascota" asp-action="Delete" asp-route-id="@Model.mascotaSeleccionada.Id">Delete</a>
                |
                <a asp-controller="Mascota" asp-action="Alimentar" asp-route-id="@Model.mascotaSeleccionada.Id">Alimentar</a>
            </p>
        </div>
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.mascotaSeleccionada.NombreMascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mascotaSeleccionada.TipoDeMascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mascotaSeleccionada.Estado)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listaMascotas)
                    {

                        <tr class="@(Model.mascotaSeleccionada.Id == item.Id ? "bg-success" : "")">
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreMascota)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoDeMascota)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>

                            <td>
                                <a asp-controller="Mascota" asp-action="Profile" asp-route-id="@item.Id">Elegir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

