@model IEnumerable<Tamagochi.Models.Estadistica>

@{
    ViewData["Title"] = "Tus Estadisticas";
}
    <h1>Estadísticas</h1>
<div class="table-wrap">
    <div class="referencia">
        <span>Dd: días</span>
        <span> HH: horas</span>
        <span> MM: minutos</span>
        <span> SS: segundos</span>
        <div class="est-img-container">
            <img src="~/juego.png" />
        </div>
    </div>
</div>

<table class="estadisticas-table">
    <thead>
        <tr>
            <th>
                Nombre Mascota
            </th>
            <th>
                Tiempo Hambriento
            </th>
            <th>
                Tiempo débil
            </th>
            <th>
                Tiempo Satisfecho
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)

        {

                double[] res_hambriento = item.secsToTiempo(item.TiempoHambrento);
                double[] res_debil = item.secsToTiempo(item.TiempoDebil);
                double[] res_satisfecho = item.secsToTiempo(item.TiempoSatisfecho);
              
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MascotaTrackeada.NombreMascota)
                </td>
                <td>
                        <strong>@res_hambriento[0]</strong> dd <strong>@res_hambriento[1]</strong> HH <strong>@res_hambriento[2]</strong> MM <strong>@res_hambriento[3]</strong> SS
                </td>
                <td>
                        <strong>@res_debil[0]</strong> dd <strong>@res_debil[1]</strong> HH <strong>@res_debil[2]</strong> MM <strong>@res_debil[3]</strong> SS
                </td>
                <td>
                        <strong>@res_satisfecho[0]</strong> dd <strong>@res_satisfecho[1]</strong> HH <strong>@res_satisfecho[2]</strong> MM <strong>@res_satisfecho[3]</strong> SS
                </td>
            </tr>
        }
    </tbody>
</table>