@model IEnumerable<MVCBasico.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre de Mascota:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Escribe un nombre para tu nueva mascota...">
</div>
<select class="form-select form-select-lg mb-3" aria-label="Default select example">
    <option selected>Selecciona un tipo de mascota</option>
    <option value="1">Furby</option>
    <option value="2">Shrek</option>
    <option value="3">Gato</option>
    <option value="4">Perro</option>
</select> 
<p>
    <a asp-action="Login">Crear nueva Mascota</a> 
@*    aca se crea la nueva mascota con los datos del form..
*@</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
